
body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainApp {
  padding-top: 94px;
  /* height: calc(100vh - 94px);
  overflow-y: scroll; */
  margin-bottom: 40px;
}

.AppWrap {
  background-color: #000000;
  height: 100vh;
}

.card-header {
  margin-bottom: 30pt !important;
  margin-top: 20pt !important;
  color: #ffffff;
}

.app-bott {}

.marg-left-10 {
  margin-left: 10px;
}

.marg-left-20 {
  margin-left: 20px;
}

.marg-ri-20 {
  margin-right: 20px;
}

.marg-ri-10 {
  margin-right: 10px;
}

.marg-top-20 {
  margin-top: 20px !important;
}

.marg-top-30 {
  margin-top: 30px !important;
}

.marg-bott-20 {
  margin-bottom: 20px !important;
}

.marg-bott-10 {
  margin-bottom: 10px !important;
}

.marg-top-10 {
  margin-top: 10px !important;
}

.marg-bott-40 {
  margin-bottom: 40px !important;
}

.marg-top-40 {
  margin-top: 40px !important;
}


.no-marg-top {
  margin-top: 0 !important;
}


.no-marg-bott {
  margin-bottom: 0 !important;
}

.no-marg {
  margin: 0 !important;
}

.MuiAccordion-rounded:first-of-type {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.MuiAccordion-rounded:last-of-type {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.fullscreen-spin {
  width: 30px !important;
  height: 30px !important;
  color: #ffffff !important;
}

.fullscreen-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 94px);
  margin: 0;
  padding: 0;
}

.fullscreen-msg-text {
  color: #ffffff;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  margin-right: 15px;
  margin-left: 15px;
}

.flex-container {
  display: flex;
  vertical-align: middle;
}

.fl-right {
  justify-content: end;
}

.fl-centered {
  align-items: center;
  justify-content: center;
}

.fl-centered-vert {
  align-items: center;
}

.fl-grow {
  flex-grow: 1;
}


.schain-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.65rem;
  color: white;
  padding-top: 5pt;
  text-align: center;
}

.opacityIcon {
  opacity: 0.9;
  filter: saturate(90%) brightness(0.95);
}

.Mui-expanded {
  border-radius: 20px !important;
}

.copyBoard {
  margin: 10px 0 !important;
  padding: 13pt 15pt !important;
  background-color: #3a3a3a !important;
  border-radius: 20px !important;
  border: none !important;
  cursor: pointer !important;
  width: 100%;
  font-size: 0.9rem !important;
}

.copy-icon {
  color: #ffffff;
  width: 13pt !important;
}

.undec {
  text-decoration: none !important;
}

.copyBoard:hover {
  background-color: #424242 !important;
}


.linkSurface {
  background-color: #00b3ff75 !important;
  color: #d8efff !important;
  width: 100% !important;
  box-shadow: none !important;
}

.linkSurfaceIcon {
  color: #5298ca !important;
}

.linkSurface:hover {
  background-color: #00b3ff94 !important
}

.MuiFormControlLabel-root .MuiTypography-root {
  font-weight: 500;
  font-size: 0.7rem;
}

.MetamaskSurface {
  background-color: rgb(255 144 41 / 54%) !important;
  color: #f6d9bd !important;
  box-shadow: none !important;
  width: 100% !important;
}

.MetamaskSurface:hover {
  background-color: rgb(255 144 41 / 70%) !important;
}

.MetamaskSurfaceIcon {
  color: #e38e3e !important
}

.metamaskLogo {
  width: 150px;
  margin: 0 100px;
}

.MuiButton-contained {
  border-radius: 20px !important;
}

.btnIcon {
  width: 23px !important;
}

.skLink {
  color: white !important;
}

.skBtn {
  /* color: #ffffff !important;
  opacity: 0.8 !important;
  text-transform: none !important; */
  font-weight: 500 !important;
  text-transform: none !important;
  font-size: .9525rem !important;
  line-height: 1.6 !important;
  letter-spacing: .03857em !important;
  color: rgba(255,255,255,.65) !important;
}

.text-secondary {
  font-size: 0.9rem !important;
  color: #aaaaaa;
  font-weight: 500;
  margin: 5pt 0;
}

.MuiFormControlLabel-root span {
  color: #d4d3d3;
}

.sk-header {
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-backdrop-filter: blur(80px) !important;
  backdrop-filter: blur(80px) !important;
}

.appContent {
  height: calc(100vh - 94px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.logo {
  width: 90pt;
}


code {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.overflow-auto {
  overflow: auto;
}

.MuiSnackbarContent-root {
  border-radius: 20px !important;
  /* background-color: #3a3a3a !important;
  color: #0000008a !important; */
}

.MuiSnackbarContent-message {
  font-weight: 400;
}

.chainInfoIcon {
  width: 12pt !important;
  color: #0000008a !important;
}

.chainInfoText {
  color: #0000008a !important;
}

.app-bott {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;

  border-bottom: 1px #292929 solid !important;
  border-right: 1px #292929 solid !important;
  border-left: 1px #292929 solid !important;
}

.app-bott-ins {
  backdrop-filter: brightness(0.6);
  width: 100%;
  padding: 5pt 0;
}

.app-bott h6,
.app-bott svg {
  color: #000000cc !important;
}

.app-bott-dark h6,
.app-bott-dark svg {
  color: #ffffffc9 !important;
}



.app-icon {
  width: 100%;
  height: 106px;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;

  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;


  border-top: 1px #292929 solid !important;
  border-right: 1px #292929 solid !important;
  border-left: 1px #292929 solid !important;
}


.schain-details-top {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;

  border-top: 1px #292929 solid !important;
  border-right: 1px #292929 solid !important;
  border-left: 1px #292929 solid !important;
  border-bottom: 1px #292929 solid !important;

  padding: 20pt;
  height: 60pt;
}

.schain-details-top img {
  max-height: 80%;
  max-width: 80%;
}

.schain-details-bott {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;

  border-bottom: 1px #292929 solid !important;
  border-right: 1px #292929 solid !important;
  border-left: 1px #292929 solid !important;

  padding: 20pt;
}

.schain-options .MuiChip-root svg {
  height: 15pt;
  width: 15pt;
  margin-left: 10px !important;
}

.app-icon img {
  max-height: 80%;
  max-width: 80%;
  text-align: center;
}

.app-icon svg {
  color: black !important;
}


.default-chain-icon {
  width: 40pt !important;
  height: 40pt !important;
}



code {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.9);
}




li a {
  dcolor: rgb(45, 203, 116) !important;
  color: rgb(217, 224, 33) !important;
}



.chain-btn,
.chain-btn svg {
  color: black !important;
}

.explorer-btn {
  background-color: #523288 !important;
}

.metamask-btn {
  background-color: #824810 !important
}


.website-btn {
  background-color: rgb(217, 224, 33) !important;
  color: black !important;
}

.categories {
  margin-top: -40px;
}



.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.dappCard.MuiGrid-item {
  transition: transform .2s;
}

.dappCard.MuiGrid-item:hover {
  transform: scale(1.1);
}

.topBannerNew {
  background-color: #292929 !important;
  border-radius: 50px !important;
  padding: 1px 12px;

  font-weight: 500 !important;
  /* text-transform: uppercase !important; */
  font-size: .8525rem !important;
  line-height: 1.5 !important;
  letter-spacing: .02857em !important;
  color: #e1e1e1 !important;
  background-image: none !important;

}

.categoryCountChip {
  font-weight: 500 !important;
  font-size: 0.7125rem !important;
  padding: 2px 2px !important;
  color: #e1e1e1 !important;
}

.topBannerNew button {
  font-size: 0.8125rem !important;
  line-height: 1.5 !important;
}


.topBannerNew .MuiButton-endIcon {
  margin-left: 4px !important;
}

.topBannerNew .MuiButton-endIcon svg {
  width: 11px !important;
}

.actions-btn{
  font-size: 0.805rem !important;
  line-height: 1.75 !important;
}

.actions-btn svg {
  width: 15px !important;
}

.dAppDesc {
  color: rgba(255,255,255,.65) !important;
  font-weight: 400 !important;
  font-size: 0.95rem !important;
}