.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainApp {
  padding-top: 94px;
  height: calc(100vh - 94px);
  overflow-y: scroll;
  margin-bottom: 40px;
}

.AppWrap{
  background-color: #f1f1f1;
  height: 100vh;
}

.card-header{
  margin-bottom: 5px;
  margin-top: 0;
}


.marg-left-10{
  margin-left: 10px;
}

.marg-left-20{
  margin-left: 20px;
}

.marg-ri-20{
  margin-right: 20px;
}

.marg-ri-10{
  margin-right: 10px;
}

.marg-top-20 {
  margin-top: 20px !important;
}

.marg-top-30 {
  margin-top: 30px !important;
}

.marg-bott-20 {
  margin-bottom: 20px !important;
}

.marg-bott-10 {
  margin-bottom: 10px !important;
}

.marg-bott-40 {
  margin-bottom: 40px !important;
}

.no-marg-top{
  margin-top: 0 !important;
}


.no-marg-bott{
  margin-bottom: 0 !important;
}

.no-marg{
  margin: 0 !important;
}

.MuiAccordion-rounded:first-of-type{
  border-top-left-radius: 20px !important;
  border-top-right-radius:  20px !important;
}

.MuiAccordion-rounded:last-of-type{
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius:  20px !important;
}

.fullscreen-spin{
  width: 30px !important;
  height: 30px !important;
  color: rgb(61, 61, 61) !important;
}

.fullscreen-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 94px);
  margin: 0;
  padding: 0;
}

.fullscreen-msg-text {
  color: rgb(61, 61, 61);
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  margin-right: 15px;
  margin-left: 15px;
}

.flex-container {
  display: flex;
  vertical-align: middle;
}

.fl-right {
  justify-content: end;
}

.fl-centered {
  align-items: center;
  justify-content: center;
}

.fl-centered-vert{
  align-items: center;
}

.fl-grow{
  flex-grow: 1;
}


.schain-name {
  font-weight: bold;
  padding-left: 10pt;
}

.opacityIcon{
  opacity: 0.8;
  filter: saturate(90%);
}

.Mui-expanded{
  border-radius: 20px !important;
}

.copyBoard{
  margin: 10px 0 !important;
  padding: 20pt !important;
  background-color: #f1f1f1 !important;
  border-radius: 20px !important;
  border: none !important;
  cursor: pointer !important;
  width: 100%;
  font-size: 12pt !important;
}

.schain-details{
  margin: -10px 10px 0 10px;
}

.copy-icon {
  color: rgba(0, 0, 0, 0.4);
}

.undec{
  text-decoration: none !important;
  color: inherit !important;
}

.copyBoard:hover{
  background-color: #e8e8e8 !important;
}


.linkSurface{
  background-color: #d2ecf7 !important;
  color: #296a98 !important;
  width: inherit !important;
  box-shadow: none !important;
}

.linkSurfaceIcon{
  color: #5298ca !important;
}

.linkSurface:hover{
  background-color: #cbebf9 !important
}

.MuiFormControlLabel-root .MuiTypography-root{
  font-weight: 500;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6) !important;
}

.MetamaskSurface {
  background-color: rgb(255 218 184) !important;
  color: #cb6300 !important;
  box-shadow: none !important;
  width: inherit !important;
}

.MetamaskSurface:hover {
  background-color: rgb(255 218 184) !important;
}

.MetamaskSurfaceIcon{
  color: #e38e3e !important
}

.metamaskLogo{
  width: 150px;
  margin: 0 100px;
}

.MuiButton-contained{
  border-radius: 20px !important;
}

.btnIcon{
  width: 23px !important;
}

.skLink{
  color: white !important;
}

.skBtn{
  color: rgb(217, 224, 33) !important;
}